ul {
  list-style-type: none;
  border: 1px solid red;
}

li {
  margin: 0px;
  padding: 20px;
  border: 1px solid #ddd;
}

li:focus {
  background-color: purple;
  outline: none;
}
.result {
  margin-top: 50px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  border: 1px solid green;
}
